:root {
    --primary-color: #213D43;
    --secundary-color: #EBEBEB; 
    --white-font: #FFFFFF;
    --black-font: #333333;
    --gray-font: #CCCCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif; 
    -webkit-font-smoothing: antialiased;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    background-color: #FFFFFF;
}

#nav {
    position: absolute;
    top: 2;
    right: 0;
    display: flex;
    width: 100%;
}

.logo_header {
    width: 18rem;
}

.banner {
    width: 100%;
    height: auto;
}

#banner_movil {
    display: block;
}

#banner_pc {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 150rem;
    min-height: 100dvh;
    background-color: var(--secundary-color);
    padding-bottom: 2rem;
    position: relative;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 2rem 0;
}

#inicio_por_defecto {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


footer span {
    text-align: center;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 2rem 1rem;
    background-color: #EBEBEB;
    font-size: 1.6rem; 
    font-weight: 600; 
    color: var(--black-font);
}

.titulo_seccion_producto {
    width: 15rem;
} 

h2 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 2rem;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: var(--black-font);
    text-transform: uppercase; /* Opcional: para que se vea más como sección */
    letter-spacing: 1px;
}


h2::before, h2::after {
    content: "";
    width: 12px;
    height: 12px;
    /* Aplicamos el color Crimson */
    border-color: crimson; 
    border-style: solid;
    /* Un grosor fino para que no sea invasivo */
    border-width: 0; 
    transition: all 0.3s ease; /* Por si quieres animarlo luego */
}

h2::before {
    border-top-width: 2px;
    border-left-width: 2px;
    margin-right: 15px;
}

h2::after {
    border-bottom-width: 2px;
    border-right-width: 2px;
    margin-left: 15px;
}

#header_seccion {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

#header_inline {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#header_domicilio {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: #333333;
}

.link_whatsapp_pagina_producto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #2095AC;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1rem 0;
    border-radius: 5px;
    color: #FFFFFF;
}

.icono_whatsapp {
    position: fixed;
    bottom: 5px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.icono_whatsapp img, #icono_whatsapp_link {
    width: 5rem;
}

.icono_whatsapp span {
    font-size: 1.2rem;
    color: #333333;
}

.solo_domicilios {
    margin-bottom: 0.8rem;
    font-size: 1.42em;
    color: var(--white-font);
    font-weight: bold;
    font-style: italic;
}

.horario {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--gray-font);
}

.horario_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horario_slash {
    display: none;
}

.contenedor_buscador {
    display: flex;
    justify-content: center;
    align-items: center;    
    /* background-color: var(--primary-color); */
    width: 80%;
    margin-top: 2rem;
}

.buscador {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.buscador input[type="search"] {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.4rem;
    background-color: var(--secundary-color);
    color: var(--black-font);
    border: 2px #333333;
    border-radius: 15px;
}

#boton_buscar {
    border: none;
    background: none;
    font-size: 1.4rem;
    cursor: pointer;
}

#buscador_movil {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;    
}

#buscador_pc {
    display: none;
}

#header_pc {
    width: 50%;
}

#menu {
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2.5rem;
    background-color: #2095ac;
    z-index: 100;
}

#menu li {
    list-style: none;
    width: 100%;
    height: auto;
    
}

#menu li a {
    display: flex;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: #FFFFFF;
    justify-content: center;
}

#icono_menu {
    display: flex;
    width: 3rem;
    /* position: absolute;
    top: 0;
    right: 0; */
}

#icono_cerrar_menu {
    display: none;
    width: 3rem;
}

.seccion_por_defecto {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    padding: 3rem 1rem 0 1rem;
    gap: 2rem;
    background-color: #FFFFFF;
}

.seccion_productos_visibles,.resultados_busqueda {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    width: 100%;
    gap: 2rem;
    
}

 #seccion_resultados {
    width: 95%;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: space-around;
    padding: 3rem 1rem 0 1rem;
    gap: 2rem;
    margin-bottom: 3rem;
    border-radius: 5px;
 }


.card_productos, .card_producto_pagina_individual {
    display: flex;
    width: 18rem;
    height: auto;
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #CCCCCC;
    box-shadow: 3px 3px 2px #aaaaaa;
    transition: all 0.3s;
}

.card_producto_pagina_individual {
    gap: 1rem;
}

#contenedor_producto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-bottom: 3rem; */
}

.card_productos {
    flex-direction: column;
}

.card_productos_marca {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333333;
}

.card_producto_pagina_individual {
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contenedor_infoproducto_individual {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenedor_infoproducto_individual .card_productos_nombre {
    font-weight: bold;
    color: #2095AC;
    font-size: 1.5rem;
}

.card_productos_img {
    width: 100%;
}

.card_producto_pagina_individual_img {
    width: 30rem;
}

.card_productos_nombre {
    font-size: 1.4rem; /* Subimos un poco el tamaño */
    color: var(--black-font);
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_productos_descripcion {
    font-size: 1.4rem;
    color: var(--black-font);
}

.card_productos_precio {
    font-size: 2rem;
    font-weight: 600;
    color: #333333; /* Color azul que tenías, o puedes probar con Crimson */
    margin-top: 1rem;
}

.card_identificadores_producto {
    display: flex;
    padding-top: 0.5rem;
    border-top: 1px solid #CCCCCC;
}

.mensaje_importante {
    padding: 0 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    
}

#preguntas_frecuentes {
    width: 100%;
    padding: 4rem 2rem;
    margin-top: 5rem;
    background-color: #FFFFFF;
}

h3 {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

.preguntas_frecuentes {
    margin-bottom: 2rem;
}

.preguntas_frecuentes span {
    font-size: 1.5rem; 
    font-weight: bold;
    color: var(--primary-color);
}

.preguntas_frecuentes p {
    font-size: 1.4rem;
    color: #0000008C;
}

span, div {
    cursor: default;
    user-select: none;
}

img {
    user-select: none;
}



/*---------- Media Queris ----------*/

/* >768P */
@media (min-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    #menu_movil li a {
    justify-content: center;
}

    .solo_domicilios {
        font-size: 1.6rem;
    }

    .horario {
        font-size: 1.6rem;
    }

    .horario_info {
        flex-direction: row;
    }

    .horario_slash {
        display: block;
        font-size: 1.6rem;
        color: var(--white-font);
    }

    .buscador input[type="search"] {
        padding: 1rem;
        font-size: 1.6rem;
    }

    header {
        padding: 2rem 4rem;
    }

    #header_domicilio {
        display: flex;
    }

     #header_domicilio img {
        width: 4rem;
        height: auto;
    }

    #domicilio_flotante {
        display: none;
    }

    .card_producto_pagina_individual {
        flex-direction: row;
        max-width: 70rem;
    }

    .icono_whatsapp {
        cursor: pointer;
        bottom: 50%;
        right: 10px;
        width: 6rem;
    }

    .link_whatsapp_paginaProducto {
        top: unset;
        bottom: 1rem;
    }

    #preguntas_frecuentes {
        padding: 4rem;
    }


}

/* >1200P */
@media (min-width: 1200px) {

    header {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 0;
    }

    #header_seccion {
        position: static;
        justify-content: center;
        padding: 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    } 

    .contenedor_buscador {
        margin: 0;
        width: 100%;
    }

    #banner_movil {
        display: none;
    }

    #banner_pc {
        display: block;
        max-width: 150rem;
    }


    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .solo_domicilios {
        font-size: 1.8rem;
    }

    .horario {
        font-size: 1.8rem;
    }

    .horario_info {
        flex-direction: row;
    }

    .horario_slash {
        display: block;
        font-size: 1.8rem;
        color: var(--white-font);
    }

    #nav {
        position: static;
        top: unset;
        right: unset;
        width: 100%;
        background-color: var(--primary-color);
    }

    #menu {
        position: static;
        top: unset;
        right: unset;
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
    }

    #menu li {
        width: auto;
    }
   
    #menu li a{
        display: flex;
        width: auto;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0 0 3px 0;
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
        color: #333333;
    }

    #menu li a:hover {
        border-bottom: 2px solid #333333;
    }

    .card_productos:hover {
        box-shadow: 3px 3px 2px #2095AC;
    }

    .card_productos_nombre, .card_productos_descripcion {
        font-size: 1.4rem;
    }

    .card_productos_precio {
        font-size: 1.6rem;
    }

       #icono_menu {
        display: none;
    }

    #buscador_movil {
        display: none;
    }

    #buscador_pc {
        display: flex;
        width: 40%;
    }

    
   

 

   
   
}