:root {
    --primary-color: #213D43;
    --secundary-color: #EBEBEB; 
    --white-font: #FFFFFF;
    --black-font: #333333;
    --gray-font: #CCCCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
}

#nav {
    position: absolute;
    top: 2;
    right: 0;
    display: flex;
    width: 100%;
}

.logo_header_horizontal {
    width: 24rem;
}

.banner {
    width: 100%;
    height: auto;
}

#banner_movil {
    display: block;
}

#banner_pc {
    display: none;
}

main {
    width: 100%;
    max-width: 150rem;
    min-height: 100dvh;
    background-color: var(--secundary-color);
    margin: 0 auto;
    padding-bottom: 2rem;
    position: relative;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 2rem 0;
}

#inicio_por_defecto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#domicilio_flotante {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    bottom: 1rem;
    right: 0;
    padding: 0.3rem 1rem;
    background-color: #333333;
    color: #FFFFFF;
}

#domicilio_flotante img{
    width: 4rem;
    height: auto;
}

footer span {
    text-align: center;
}

h1 {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    background-color: #FFFFFF;
    font-size: 1.6rem;
    color: var(--black-font);
}

h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 1.6rem;
    color: var(--black-font);
}

#header_seccion {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}

#header_inline {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#header_domicilio {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: #FFFFFF;
}

.solo_domicilios {
    margin-bottom: 0.8rem;
    font-size: 1.42em;
    color: var(--white-font);
    font-weight: bold;
    font-style: italic;
}

.horario {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--gray-font);
}

.horario_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horario_slash {
    display: none;
}

.contenedor_buscador {
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: var(--primary-color);
    width: 80%;
    margin-top: 2rem;
}

.buscador {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.buscador input[type="search"] {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.4rem;
    background-color: var(--secundary-color);
    color: var(--black-font);
    border: 2px #333333;
    border-radius: 5px;
}

#boton_buscar {
    border: none;
    background: none;
    font-size: 1.4rem;
    cursor: pointer;
}

#buscador_movil {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#buscador_pc {
    display: none;
}

#header_pc {
    width: 50%;
}

#menu {
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2.5rem;
    background-color: #FFFFFF;
}

#menu li {
    list-style: none;
    width: 100%;
    height: auto;
    
}

#menu li a {
    display: flex;
    width: 100%;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black-font);
    justify-content: center;
}

#icono_menu {
    display: flex;
    width: 3rem;
    /* position: absolute;
    top: 0;
    right: 0; */
}

#icono_cerrar_menu {
    display: none;
    width: 3rem;
    /* position: absolute;
    top: 0;
    right: 0; */
}

#seccion_resultados {
    display: none;
    flex-direction: column;

}

.articulos_destacados, .articulos_nuevos, .resultados_busqueda, #categoria, #contenedor_articulo {
    display: flex;
    justify-content: space-around;
    padding: 3rem 1rem 0 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

/* .articulos_destacados_titulo {
    margin-top: 5rem;
} */

.card_articulos {
    display: flex;
    flex-direction: column;
    width: 19rem;
    height: auto;
    background-color: #FFFFFF;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #aaaaaa;
    transition: all 0.3s;
}

.card_articulos_img {
    width: 100%;
}

.card_articulos_nombre {
    font-size: 1.2rem;
    color: var(--black-font);
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número máximo de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_articulos_precio {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1277FA;
}


/*---------- Media Queris ----------*/

/* >768P */
@media (min-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    #menu_movil li a {
    justify-content: center;
}

    .solo_domicilios {
        font-size: 1.6rem;
    }

    .horario {
        font-size: 1.6rem;
    }

    .horario_info {
        flex-direction: row;
    }

    .horario_slash {
        display: block;
        font-size: 1.6rem;
        color: var(--white-font);
    }

    .buscador input[type="search"] {
        padding: 1rem;
        font-size: 1.6rem;
    }

    header {
        padding: 2rem 4rem;
    }

    #header_domicilio {
        display: flex;
    }

     #header_domicilio img {
        width: 4rem;
        height: auto;
    }

    #domicilio_flotante {
        display: none;
    }


}

/* >1200P */
@media (min-width: 1200px) {

    header {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 0;
    }

    #header_seccion {
        position: static;
        justify-content: center;
        padding: 0rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    } 

    .contenedor_buscador {
        margin: 0;
        width: 100%;
    }

    #banner_movil {
        display: none;
    }

    #banner_pc {
        display: block;
        max-width: 150rem;
    }


    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .solo_domicilios {
        font-size: 1.8rem;
    }

    .horario {
        font-size: 1.8rem;
    }

    .horario_info {
        flex-direction: row;
    }

    .horario_slash {
        display: block;
        font-size: 1.8rem;
        color: var(--white-font);
    }

    #nav {
        position: static;
        top: unset;
        right: unset;
        width: 100%;
        background-color: var(--primary-color);
    }

    #menu {
        position: static;
        top: unset;
        right: unset;
        display: flex;
        flex-direction: row;
        background-color: var(--primary-color);
    }

    #menu li {
        width: auto;
    }
   
    #menu li a{
        display: flex;
        width: auto;
        font-size: 1.4rem;
        padding: 0 0 3px 0;
        border-bottom: 2px solid transparent;
        transition: all 0.3s;
        color: #FFFFFF;
    }

    #menu li a:hover {
        border-bottom: 2px solid #FFFFFF;
    }

    .card_articulos_nombre {
        font-size: 1.4rem;
    }

    .card_articulos_precio {
        font-size: 1.6rem;
    }

       #icono_menu {
        display: none;
    }

    #buscador_movil {
        display: none;
    }

    #buscador_pc {
        display: flex;
        width: 40%;
    }

    
   

 

   
   
}