:root {
    --primary-color: #213D43;
    --secundary-color: #EBEBEB; 
    --white-font: #FFFFFF;
    --black-font: #333333;
    --gray-font: #CCCCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem 0;
    background-color: var(--primary-color);
}

header h1 {
    text-align: center;
    padding: 0 2rem;
    font-size: 1.4rem;
    color: #FFFFFF;
}

.logo_header_horizontal {
    width: 30rem;
}

main {
    width: 100%;
    max-width: 150rem;
    min-height: 100dvh;
    background-color: var(--secundary-color);
    margin: 0 auto;
    padding-bottom: 2rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 2rem 0;
}

footer span {
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: var(--white-font);
}

h2 {
    text-align: center;
    /* margin: 2rem; */
    font-size: 1.6rem;
    color: var(--black-font);
}

.solo_domicilios {
    margin-bottom: 0.8rem;
    font-size: 1.42em;
    color: var(--white-font);
    font-weight: bold;
    font-style: italic;
}

.horario {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--gray-font);
}

.horario_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horario_slash {
    display: none;
}

.contenedor_buscador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    background-color: #FFFFFF;
}

.buscador {
    display: flex;
    position: relative;
}

.buscador input[type="search"] {
    width: 30rem;
    padding: 0.8rem;
    font-size: 1.4rem;
    background-color: var(--secundary-color);
    color: var(--black-font);
    border: 2px #333333;
}

#boton_buscar {
    border: none;
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.4rem;
    background: none;
}

.categorias_categoria_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 10rem;
    height: auto;
    
}

#categorias {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    padding: 1rem;
    background-color: #FFFFFF;
    border-radius: 50%;
    border: 5px solid #CCCCCC;
    transition: all 0.3s;
}

.categoria img {
    width: 100%;
}

.categorias_categoria_container span {
    font-size: 1.2rem;
    color: var(--black-font);
    text-align: center;
}



#seccion_resultados {
    display: none;
    flex-direction: column;

}

.articulos_destacados, .resultados_busqueda {
    display: flex;
    justify-content: space-around;
    padding: 3rem 1rem 0 1rem;
    flex-wrap: wrap;
    gap: 2rem;
    
}

.articulos_destacados_titulo {
    margin-top: 5rem;
}

.card_articulos {
    display: flex;
    flex-direction: column;
    width: 19rem;
    height: auto;
    background-color: #FFFFFF;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 5px 5px 2px #aaaaaa;
    transition: all 0.3s;
}

.card_articulos_img {
    width: 100%;
}

.card_articulos_nombre {
    font-size: 1.2rem;
    color: var(--black-font);
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número máximo de líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_articulos_precio {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1277FA;
}


/*---------- Media Queris ----------*/

/* >768P */
@media (min-width: 768px) {
    h1 {
        font-size: 2.2rem;
    }

    .solo_domicilios {
        font-size: 1.6rem;
    }

    .horario {
        font-size: 1.6rem;
    }

    .horario_info {
        flex-direction: row;
    }

    .horario_slash {
        display: block;
        font-size: 1.6rem;
        color: var(--white-font);
    }

    .buscador input[type="search"] {
        padding: 1rem;
        font-size: 1.6rem;
    }

}

/* >1200P */
@media (min-width: 1200px) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .solo_domicilios {
        font-size: 1.8rem;
    }

    .horario {
        font-size: 1.8rem;
    }

    .horario_info {
        flex-direction: row;
    }

    .horario_slash {
        display: block;
        font-size: 1.8rem;
        color: var(--white-font);
    }

    .categorias {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .categoria {
        width: 10rem;
        height: 10rem;
        transition: all 0.3s;
    }

    .categoria:hover {
        background-color: #aaaaaa;
    }

    .categoria span {
        font-size: 1.4rem;
    }

    .card_articulos_nombre {
        font-size: 1.4rem;

    }

    .card_articulos_precio {
        font-size: 1.6rem;
    }

   
}