* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem 0;
    gap: 2rem;
    background-color: #2E4E51;
}

main {
    width: 100%;
    max-width: 150rem;
}

.header_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    color: #FFFFFF;
}

.solo_domicilios {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
}

.horario {
    display: inline-block;
    font-size: 1.4rem;
    color: #ccc;
}

.horario_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horario_slash {
    display: none;
}


@media (min-width: 760px) {
    h1 {
        font-size: 2.2rem;
    }

    .solo_domicilios {
        font-size: 1.6rem;
    }

    .horario {
        font-size: 1.6rem;
    }

    .horario_info {
        flex-direction: row;
    }

    .horario_slash {
        display: block;
        font-size: 1.6rem;
        color: #FFFFFF;
    }
}


@media (min-width: 1200px) {
    h1 {
        font-size: 2.4rem;
    }

    .solo_domicilios {
        font-size: 1.8rem;
    }

    .horario {
        font-size: 1.8rem;
    }

    .horario_info {
        flex-direction: row;
    }

    .horario_slash {
        display: block;
        font-size: 1.8rem;
        color: #FFFFFF;
    }
}